block mobile-menu

.wrapper.nav_wrapper.nav_wrapper_mobile
    .nav
        img(class='logo', src='assets/img/2nav/veronica.svg')

        .burger
            span.burger__line.line1
            span.burger__line.line2
            span.burger__line.line3

        div.mobile-menu