block nav 


.header
    .header__container.container
        .header__line
            .header__logo 
                img(src="assets/img/1_header/logo.svg" alt="logo")
            
            .nav 
                a(href="#" class="nav__link") ГЛАВНАЯ
                a(href="#" class="nav__link") МЕНЮ
                a(href="#" class="nav__link") О НАС
                a(href="#" class="nav__link") БРОНЬ
            
            .cart 
                a(href="#" class="cart__link")
                    img(src="assets/img/1_header/cart.svg" alt="buy" class="cart__img")
            

            .phone 
                .phone__img-wrapper 
                    img(src="assets/img/1_header/phone.svg" class="phone__img")
                .phone__number
                    a(href="#") +999-888-76-54
                
            .newDiv
            .newDiv1
            .newDiv2